body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  /*section start*/
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin: 0 auto;
    padding: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
  }
hr {
  width: 100%;
    height: 10px;
    background-color: rgb(3, 3, 3);
    border-color: rgb(255, 255, 255);
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin: 5px 0 5px 0;
    font-size: 28px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 5px 4px 3px black;
  }
  
  a:active {
    color: brown;
  }
  .footer-link{
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: coral;
  padding: 5px;
  }