*{
    margin: 0;
    padding: 0;
}
/*section1 start*/
.header{
    background-image: url(donation5.jpg);
    background-repeat: no-repeat;
    width: 1200pX;
    height: 400px;
    margin: 0 auto;
    position: relative;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.head{
    text-decoration: underline;
    text-align: center;
    color: rgb(8, 248, 152);
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.head h6{
    text-align: justify;
    color: chocolate;
    font-size: 15px;
}
.head button{
    border: 2px inset white;
    background-image: linear-gradient( coral, orange);
}
/*section1 end*/
/*section2 start*/
.sec1{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec1 div{
    box-sizing: border-box;
}
.sec1 div h1{
    text-align: center;
    color: rgb(0, 136, 255);

}
.sec1 div h6{
    text-align: center;
    color: aqua;
    font-size: 15px;
}
.sec-head .prob {
    display: flex;
    margin-top: 20px;
    box-sizing: border-box;
}
.sec-head .prob button{
    margin-top: 10px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    background-color: beige;
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;

}
.sec-head .prob button:hover{
    background-color: rgba(255, 140, 0, 0.5);
}
.sec-head .prob button:focus{
    border: 5px inset coral;
    background-color: rgb(223, 139, 11);
}
.sec1 .input{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
    margin: 10px auto;

}
.sec1 .input input{
    font-size: 25px;
    margin-bottom: 5px;
    border: none;
}
.sec1 .input input:focus{
    border: none;
}
hr{
    width: 100%;
    height: 2px;
    color: rgb(0, 0, 0);
}
.sec1 .sec-head #btn{
    border: 2px inset white;
    background-image: linear-gradient( coral, orange);}