body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(Untitled-13.png);
    background-repeat: no-repeat;
    background-attachment: ;  
    background-size: 100% 100%;
}
.banner1{
    background-image: url(Untitled-9.png);
    background-repeat: no-repeat;
    background-attachment: ;  
    background-size: 100% 100%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image:linear-gradient(orange 30%,coral 70%);
    color: black;
    border-radius: 5px;
    font-weight: 700;
}
.sec-color{
    color: rgb(3, 244, 119);
}
.link-btn1{
    text-decoration: none;
    padding: 10px 40px;
    background-image:linear-gradient(rgb(8, 187, 223) 30%,rgb(13, 202, 142) 70%);
    color: black;
    border-radius: 5px;
    font-weight: 700;
}